.about {

}

.about__wrapper {
  display: flex;
}

.about__img {
  margin: 80px 120px 100px 175px;
}

.about__content {

}

.about__title {
  width: 370px;
  margin: 95px 0 24px 0;
}

.about__text-content {
  width: 430px;
  margin: 0 0 25px 0;
}
