.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.slider__slide-wrapper {
  display: flex;
  justify-content: space-between;
  width: 91.33%;
  padding: 0 5.3rem;
  //max-width: 99rem;
}

.slider__arrow__righ {
  transform: rotate(180deg);
}
