.about {

}

.about__wrapper {
  justify-content: center;
  flex-wrap: wrap;
  padding: 8rem 21.5rem 8.9rem;
  @include media-tablet {
    flex-direction: column;
    align-items: center;
    padding: 6.7rem 16.5rem 10rem;
  }

  @include media-mobile {
    padding: 4.3rem 1rem 4.2rem;
  }
}

.about__img-wrapper {
  margin: 0 14.1% 0 0;

  @include media-tablet {
    order: 2;
    margin: 0 0 0 0;
  }

  @include media-mobile {
    padding: 0 2rem 0;
  }
}

.about__img {
  display: block;
  margin: 0 0 0 0;
}

.about__content {
  @include media-tablet {
    order: 1;
    margin: 0 0 5.5rem 0;
  }

  @include media-mobile {
    margin: 0 0 1.9rem 0;
  }
}

.about__title {
  max-width: 37rem;
  margin: 1.5rem 0 2.4rem 0;
  @include media-mobile {
    max-width: 25rem;
    margin: 0 auto 2.5rem;
    text-align: center;
  }
}

.about__text-content {
  max-width: 43rem;
  margin: 0 0 2.5rem 0;

  @include media-mobile {
    max-width: 100%;
    margin: 0 1.5rem 2.2rem;
    text-align: justify;
  }
}
