.header-page {
  z-index: 5;
  position: absolute;
  width: 100%;
  top: 6.1rem;

  @include media-tablet {
    top: 3.1rem;
  }
  @include media-mobile {

  }
}

.header-page__logo {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.header-page__logo-title {
  margin: 0 0 0.9rem 0;
  padding: 0 0 0 0;

  text-decoration: none;
  @include font($size: 3.2rem, $height: 3.5rem, $spacing: 0.06em);
  color: $color-primary;
}

.header-page__logo-subtitle {
  margin: 0 0 0 0;
  padding: 0 0 0 0.2rem;

  @extend %font-add;
  text-decoration: none;
  @include font($size: 1.3rem, $height: 1.5rem, $spacing: 0.1em);
  color: $color-light-xl;
}

.header__hamburger {
  display: none;

  @include media-mobile {
    display: flex;
    align-items: center;
  }
}

.header-page__navigation {
  @include media-mobile {
    display: none;
  }
}


