.header-page {
  z-index: 5;
  position: absolute;
  width: 100%;
  top: 6.1rem;

  @include media-tablet {
    top: 3.1rem;
  }
}

.header-page__wrapper {
  @include media-mobile {
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-start;
  }
}

.header-page__wrapper_mobile-active {
  width: 320px;

  margin: 0 0 0 auto;
}

.header-page__logo {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-mobile {
    z-index: 3;
  }
}

.header-page__logo-title {
  margin: 0 0 0.9rem 0;
  padding: 0 0 0 0;

  text-decoration: none;
  @include font($size: 3.2rem, $height: 3.5rem, $spacing: 0.06em);
  color: $color-primary;
}

.header-page__logo-subtitle {
  margin: 0 0 0 0;
  padding: 0 0 0 0.2rem;

  @extend %font-add;
  text-decoration: none;
  @include font($size: 1.3rem, $height: 1.5rem, $spacing: 0.1em);
  color: $color-light-xl;
}

.header__hamburger {
  display: none;

  @include media-mobile {
    display: flex;
    align-items: center;
    margin: 0 43px 0 41px;
  }
}

.header-page__navigation {

  @include media-mobile {

    z-index: 2;
    position: absolute;
    top: -3.1rem;

    min-height: 100vh;
    padding-bottom: 4rem;

    background-color: $color-dark-3xl;

    transition: transform 0.5s ease 0s;
    transform: translate(320px, 0px) scaleX(0);

  }
}

.header-page__navigation_show {
  transform: translate(10px, 0) scaleX(1);
}




