.navigation {
  width: 44.3rem;
  padding: 0 0 0 0;

  list-style: none;
  display: flex;
  justify-content: space-between;


  @extend %font-add;
  @include font ($size: 1.5rem, $height: 2.4rem, $spacing: 0);

  @include media-mobile {
    width: 320px;
    flex-direction: column;
    align-items: center;
    row-gap: 4rem;

    margin: 0 0 0 0;
    padding: 24.8rem 0 0 0;
    @include font ($size: 3.2rem, $height: 5.1rem, $spacing: 0);
  }

}

.navigation__item {

}


.navigation__link {
  text-decoration: none;
  color: $color-dark-s;

  &:hover {
    color: $color-light-s;
  }
}

.navigation__link_active {
  position: relative;
  color: $color-light-s;
  pointer-events: none;
  @include media-mobile {
    pointer-events: auto;
    display: block;
    min-height: 5.4rem;
  }
}

.navigation__link_active:after {
  content: '';

  position: absolute;
  bottom: -0.7rem;
  left: 0px;

  width: 100%;
  height: 3px;
  background-color: $color-primary;

  @include media-mobile {
    bottom: 0.1rem;
  }
}
