.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  @include media-mobile {
    width: 300px;
    flex-wrap: wrap;

    row-gap: 20px;
    //flex-direction: column;

  }

}

.slider__slide-wrapper {
  position: relative;

  width: 990px;
  height: 435px;
  margin: 0 5.3rem;
  overflow: hidden;

  @include media-tablet {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 580px;
    margin: 0 1.2rem;
  }

  @include media-mobile {
    width: 270px;
    order: 1;
    margin: 0 1.5rem;
  }
}

.slider__container {
  position: absolute;
  width: 990px;
  transition: all 0.5s ease 0s;
  display: flex;
  justify-content: space-between;

  @include media-tablet {
    justify-content: flex-start;
    opacity: 1;
  }

  @include media-mobile {
  }
}

.slider__container_hide {
  opacity: 0;
}

.slider__button-left {
  @include media-mobile {
    order: 2;
    margin: 0 0 0 58px;
  }
}

.slider__button-right {
  @include media-mobile {
    order: 3;
    margin: 0 58px 0 0px;
  }
}

.slider__arrow_left {
  transform: translateY(1px);
}

.slider__arrow_right {
  transform: rotate(180deg) translateY(-1px);
}
