$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-light-xl: #ffffff;
$color-light-l: #CDCDCD;
$color-light-s: #FAFAFA;


$color-dark-xl: #292929;
//$color-dark-s:

$bg-color-reserve: #211F20;

//$color-dark-s: #CDCDCD;


$black: #000000;
$grayBrown: #373737;
$wetAsphalt: #4E4E4E;
$grideperleft: #F5F6F7;
$pearlDarkGray: #818181;
$btn: #00AFDB;
$btn-hover: #009CC2;


