$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;

$color-light-xl: #ffffff;
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;

$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;
$color-overlay: rgba(41, 41, 41, 0.6);

$background: #E5E5E5;

$card-hover-background: #C4C4C4;
$card-hover-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

$background-footer: url(../../assets/image/noise_lines_transparent.png),
radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%),
#211F20;


$bg-color-reserve: #211F20;

$tablet-width: 1279px;
$mobile-width: 767px;
//
//@include media-tablet {
//
//}
//
//@include media-mobile {
//
//}



