.pets {
  padding: 8.1rem 0 0 0;
  background-color: $color-light-l;
  //background-color: gray;

  @include media-mobile {
    padding: 4.2rem 0 0 0;
  }
}

.pets__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4rem 10rem;

  @include media-mobile {
    padding: 0 1rem 10rem;
  }
}

.pets__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40.2rem;
  margin: 0 auto 5.9rem;

  &_pets {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-mobile {
      width: 300px;
      @include font($size: 2.5rem, $height: 3.2rem, $spacing: 0.06em);
      margin-bottom: 4rem;
    }
  }
}

.pets__slider {
  margin: 0 0 6rem 0;
}

.pets__card {
  padding: 0 0 30px 0;
  text-align: center;
  background-color: $color-light-s;
  border-radius: 9px 9px 9px 9px;

  animation: wayyy 0.8s ease forwards;


  &:hover {
    cursor: pointer;
    background-color: $color-light-xl;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  }
}

.pets__image {
  margin: 0 0 2.8rem 0;
}

.pets_pet-name {
  margin: 0 0 3rem 0;
  padding: 0 0 0 0.2rem;
  color: $color-dark-l;
}

.pets__cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 3rem;
  width: 1200px;
  height: 900px;
  padding: 0 0 1.5rem 0;
  margin: 0 0 4.4rem 0;

  @include media-tablet {
    width: 580px;
    height: 1365px;
    overflow: hidden;
  }

  @include media-mobile {
    width: 270px;

  }
}
